.filters-container{
  display: flex;
  align-items: baseline;
  max-width: 750px;
  gap: 66px;
}

.dropdown {
  width: 195px;
  background: #FFF;
  border-radius: 11px;
  overflow: hidden;
  color: var(--black);
  font-family: var(--font-manrope);
}

.dropdown.open {
  border-radius: 11px 11px 0 0;
}

.dropdown .dropdown-toggle {
  padding: 17px 16px;
  font-family: var(--font-manrope);
  font-size: calc(16rem/16);
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  gap: 63px;
  background: var(--white);
  border: none;
  width: 100%;
}

.dropdown .dropdown-toggle .arrow.open{
  transform: rotate(180deg);
}

.dropdown .dropdown-list {
  padding: 0px;
  max-height: 268px;
  font-size: calc(14rem/16);
  font-weight: 400;
  background: var(--white);
  position: absolute;
  z-index: 1;
  width: 195px;
  border-radius: 0 0 11px 11px;
}

.dropdown .dropdown-list ul {
  overflow: scroll;
  overflow-x: hidden;
  height: 200px;
}

/* scrollbar width */
::-webkit-scrollbar {
  width: 0px;
}

.dropdown .dropdown-list .dropdown-input-container {
  border-radius: 2px;
  border: 1px solid #C6C6C6;
  margin-bottom: 24px;
  width: 84%;
  height: 36px;
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--white);
  padding: 0;
  gap: 5px;
  margin: 0 16px 24px 16px;
}

.dropdown .dropdown-list .dropdown-input-container input {
  width: 90%;
  height: 34px;
  border: 0px;
}

.dropdown .dropdown-list .dropdown-input-container .search-icon {
  height: 14px;
  color: pink;
  padding-right: 10px ;
}

.dropdown .dropdown-list .listbox-item {
  list-style: none;
  padding: 6px 16px 6px 16px;
}

.dropdown .dropdown-list .listbox-item.selected {
  background-color: var(--yellow);
}

.dropdown .dropdown-list .listbox-item.selected:hover::after {
  
}

.hidden {
  display: none;
}
